{% extends "layout.html" %} 
{% block customstyle %} 

<style>

    .progress.darkbackground {
        background-color: #E3DEDE;
    }

</style>

{% endblock %} 

{% block content %}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <i class="pe-7s-global fa-4x pull-right"></i>
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>

            <h2 class="font-light m-b-xs">
                Global Codes <span class="text-success">Dashboard</span>
            </h2>
            <small>Client editor for global codes for all systems.</small>
        </div>
    </div>
</div>


<div id="global_code_dashboard_main" class="content animate-panel">

    <div class="row">

        <div class="col-lg-6">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    Overview of Systems
                </div>
                <div class="panel-body list">
                    <div class="table-responsive project-list">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th colspan="2">Winpath</th>
                                    <th>Num Codes</th>
                                    <th colspan="2">% Mapped</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for system in dashboard_overview %}
                                <tr class="system-row" data-system="{{ system.origin }}">
                                    <td>{{ system.origin }}</td>
                                    <td>{{ system.origin_full }}</td>
                                    <td>{{ system.num_codes }}</td>
                                    <td>{{ system.pct_mapped }} %</td>
                                    <td style="min-width: 20%">
                                        <div class="progress m-t-xs full">
                                            <div style="width: {{ system.pct_mapped }}%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar"
                                            class=" progress-bar progress-bar-{{ system.bootstrap }}">

                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>

        <div class="col-lg-6">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    Audited changes (all systems)
                </div>
                <div class="panel-body">
                    <div>
                        <canvas id="lineOptions" height="130px"></canvas>
                    </div>
                </div>
            </div>
        </div>

    </div>



    <div class="row">

        <div class="col-lg-3">
            <div class="hpanel stats">
                <div class="panel-body h-200">
                    <div class="stats-title pull-left">
                        <h4 id="sysdetail_name"></h4>
                    </div>
                    <div class="stats-icon pull-right">
                        <i class="pe-7s-share fa-4x"></i>
                    </div>
                    <div class="m-t-xl">
                        <h3 id="sysdetail_totaltfc" class="m-b-xs">7,285 TFCs</h3>
                        <span class="font-bold no-margins">
                        Total Progress
                    </span>
                        <div class="progress m-t-xs full">
                            <div id="sysdetail_progress" style="width: 0%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar"
                            class=" progress-bar progress-bar-success">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <small class="stats-label">Total codes</small>
                                <h4 id="sysdetail_numcodes">1,245</h4>
                            </div>

                            <div class="col-xs-6">
                                <small class="stats-label">Codes exluded</small>
                                <h4 id="sysdetail_numexcluded">762</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <small class="stats-label">Valid codes</small>
                                <h4 id="sysdetail_valid_codes">1,245</h4>
                            </div>

                            <div class="col-xs-6">
                                <small class="stats-label">Codes Mapped</small>
                                <h4 id="sysdetail_num_mapped">762</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    Total counts are in TFCs
                </div>
            </div>
        </div>



        <div class="col-lg-9">
            <div class="hpanel stats">
                <div class="panel-body h-200 list">
                    <div class="stats-title pull-left">
                        <h4>Progress overview</h4>
                    </div>
                    <div class="stats-icon pull-right">
                        <i class="pe-7s-display1 fa-4x"></i>
                    </div>
                    <div class="m-t-xl m-b-xl">
                        <small>Overview of work sections. Excluded codes not displayed.</small>
                    </div>

                    <div id="sysdetail_sectionprog" class="row">
                        <div class="col-lg-6">
                            <div class="row">
                                <span class="col-lg-8">A - HAEMATOLOGY - (25 / 26 ) - 96%</span>
                                <div class="col-lg-4">
                                    <a href="/mapper?system=CROM_ALL_DW&section=C"><div class="progress m-t-xs full" style="width: 30%">
                                        <div class=" progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                                        style="width: 50%"></div>
                                    </div></a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--End of progress row-->


                </div>
            </div>
        </div>



    </div>

</div>
<!-- Winpath detail row close -->


{% endblock %} {% block scripts %}

<script src="static/vendor/chartjs/Chart.min.js"></script>


<script>
    /**
    * Audit chart
    */
    $(function () {
        var lineData = {
            labels: {{ month_range|safe }},
            datasets: [
                
                {
                    label: "Example dataset",
                    fillColor: "rgba(98,203,49,0.5)",
                    strokeColor: "rgba(98,203,49,0.7)",
                    pointColor: "rgba(98,203,49,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(26,179,148,1)",
                    data: {{ num_changes|safe }}
                }
            ]
        };

        var lineOptions = {
            scaleShowGridLines : true,
            scaleGridLineColor : "rgba(0,0,0,.05)",
            scaleGridLineWidth : 1,
            bezierCurve : true,
            bezierCurveTension : 0.4,
            pointDot : true,
            pointDotRadius : 4,
            pointDotStrokeWidth : 1,
            pointHitDetectionRadius : 20,
            datasetStroke : true,
            datasetStrokeWidth : 1,
            datasetFill : true,
            responsive: true
        };


        var ctx = document.getElementById("lineOptions").getContext("2d");
        var myNewChart = new Chart(ctx).Line(lineData, lineOptions);
    });
    
    var current_system = 'CROM_ALL_DW';
    var dashboard_overview_var = {{ dashboard_overview_var|safe }};
    var dashboard_detail = {{ dashboard_detail|safe }};
    var root_url = "{{ url_for('mapper') }}";
    
    function fill_system_detail(current_system){
        
        $('#sysdetail_name').text(current_system);
        
        $('#sysdetail_totaltfc').text(dashboard_overview_var[current_system].num_codes + ' TFCs');
        
        $('#sysdetail_progress').text(dashboard_overview_var[current_system].pct_mapped);
        $('#sysdetail_progress').css('width', dashboard_overview_var[current_system].pct_mapped + '%');
        $('#sysdetail_progress').attr('class', 'progress-bar progress-bar-' + dashboard_overview_var[current_system].bootstrap);
        
        $('#sysdetail_numcodes').text(dashboard_overview_var[current_system].num_codes);
        $('#sysdetail_numexcluded').text(dashboard_overview_var[current_system].num_excluded);
        $('#sysdetail_valid_codes').text(dashboard_overview_var[current_system].valid_codes);
        $('#sysdetail_num_mapped').text(dashboard_overview_var[current_system].num_mapped);
        
        function calc_bar_width(num_codes){
            
            var max_len = 0;
            for(j=0; j<dashboard_detail[current_system].length; j++){
                if(parseInt(dashboard_detail[current_system][j]['num_codes']) > max_len){ 
                    max_len = dashboard_detail[current_system][j]['num_codes']
                };
            };
         
            var pct = ( num_codes / max_len ) * 100;
            if( pct < 20 ){
                return 20;
            } else {
                return pct;
            };
            
        };
        
        var det = dashboard_detail[current_system];
        var panel = $('#sysdetail_sectionprog');
        panel.html('');
        
        var this_html = '<div class="col-lg-6">';
        for( i=0; i<=8; i++ ) {
            var bar_width = calc_bar_width(det[i]['num_codes']); 
            this_html += '<div class="row">';
            this_html += '<span class="col-lg-8 test">' + det[i]['sec'] + ' - ' + det[i]['section_name'] + ' - (' + det[i]['num_mapped'] + ' / ' + det[i]['valid_codes'] + ' ) - ' + det[i]['pct_mapped'] + '%</span>';
            this_html += '<div class="col-lg-4">';
            this_html += '<a href="/mapper?system=' + current_system + '&section=' + det[i]['sec'] + '">';
            this_html += '<div class="progress m-t-xs full darkbackground" style="width: ' + bar_width + '%"><div style="width: ' + det[i]['pct_mapped'];
            this_html += '%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class=" progress-bar progress-bar-' + det[i]['bootstrap'] + '">';
            this_html += '</div></div></a></div></div>';
        };
        this_html += '</div>'
        
        this_html += '<div class="col-lg-6">';
        for( i=9; i<det.length; i++ ) {
            var bar_width = calc_bar_width(det[i]['num_codes']);  
            this_html += '<div class="row">';
            this_html += '<span class="col-lg-8 test">' + det[i]['sec'] + ' - ' + det[i]['section_name'] + ' - (' + det[i]['num_mapped'] + ' / ' + det[i]['valid_codes'] + ' ) - ' + det[i]['pct_mapped'] + '%</span>';
            this_html += '<div class="col-lg-4">';
            this_html += '<a href="/mapper?system=' + current_system + '&section=' + det[i]['sec'] + '">';
            this_html += '<div class="progress m-t-xs full darkbackground" style="width: ' + bar_width + '%"><div style="width: ' + det[i]['pct_mapped'];
            this_html += '%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class=" progress-bar progress-bar-' + det[i]['bootstrap'] + '">';
            this_html += '</div></div></a></div></div>';
        };
        this_html += '</div>'
        
        panel.html(this_html);
    };
    
    $(function () {
        fill_system_detail(current_system);
    });
    
    $('.system-row').click(function(){
        current_system = $(this).data('system');
        fill_system_detail(current_system);
    })

</script>


<!-- <script src="static/scripts/dashboard.js"></script> -->
{% endblock %}