{% extends "layout.html" %}

{% block content %}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <i class="pe-7s-global fa-4x pull-right"></i>
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>

            <h2 class="font-light m-b-xs">
                Global Codes Editor
            </h2>
            <small>Client editor for global codes for all systems. Select your system below and click a library code to begin.</small>
        </div>
    </div>
</div>

<div id="data_preload_splash" class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <h2 class="font-light m-b-xs">
                Preloading data...
            </h2>
        </div>
    </div>
</div>

<div id="global_code_editor_main" class="content animate-panel" data-effect="fadeIn">

<!--Library Code Search-->
<div class="row">
    <!-- Library Search Panel -->
    <div class="col-lg-3">
        <div class="hpanel">
            <div class="panel-body">
                <div class="form">
                    System: 
                    <select id="tlc_search_system" class="form-control input-sm m-b">
                        <option>CROM_ALL_DW</option>
                        <option>WSL_ALL_DW</option>
                        <option>EAL_BHI_DW</option>
                    </select>
                    Section: 
                    <select id="tlc_search_section" class="form-control input-sm m-b">
                        <option>Referrals</option>
                        <option>Biochemistry</option>
                        <option>Haematology</option>
                    </select>
                    <div class="checkbox">
                        <label><input type="checkbox" value="">Primary Codes</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="">Unmapped</label>
                    </div>
                    <button id="tlc_search_submit" type="submit" class="btn btn-success m-b">Refresh</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Library codes detail panel -->
    <div class="col-lg-9">
        <div class="hpanel">
            <div class="panel-heading hbuilt">
                Library Codes
                <div class="panel-tools pull-right">
                    <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                    <a class="closebox"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="panel-body">
                <table id="library_code_datatable" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>TLC</th>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Number of tests</th>
                        </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div>
</div> <!--Close library code row-->


<!-- Format code detail -->
<div class="hpanel">
    <div class="panel-heading">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
            <a class="closebox"><i class="fa fa-times"></i></a>
        </div>
        UE - UREA & ELECTROLYTES | Format code detail
    </div>
    <div class="panel-body">
        <div class="table-responsive">
        <table cellpadding="1" cellspacing="1" class="table">
            <thead>
            <tr>
                <th></th>
                <th>TFC</th>
                <th>Description</th>
                <th>Most common result</th>
                <th>Units</th>
                <th>Num</th>
                <th>CITM</th>
                <th>BC</th>
                <th>BC Description</th>
                <th>Sample</th>
                <th>Result Type</th>
                <th></th>
              
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>eB</td>
                <td>NA</td>
                <td>Sodium</td>
                <td>143</td>
                <td>umol/l</td>
                <td>14,356</td>
                <td>Sodium</td>
                <td><span class="label label-success">BC_UE_NA</span></td>
                <td>Sodium</td>
                <td>Serum</td>
                <td>Result</td>
                <td><span class="glyphicon glyphicon-option-horizontal"></span></td>
            </tr>

            <tr class="global-drop">
                <td>eB</td>
                <td>K</td>
                <td>Potassium</td>
                <td>5.2</td>
                <td>umol/l</td>
                <td>14356</td>
                <td>Potassium</td>
                <td class="global-code"><span class="label label-success">BC_UE_K</span></td>
                <td>Potassium</td>
                <td>Serum</td>
                <td>Result</td>
                <td><span class="glyphicon glyphicon-option-horizontal"></span></td>
            </tr>

            <tr class="global-drop">
                <td class="worksection">eB</td>
                <td class="tfc">CL</td>
                <td class="tfc-description">Chloride</td>
                <td>Some 40 character text line here</td>
                <td>umol/l</td>
                <td>14356</td>
                <td>Chloride</td>
                <td class="global-code"><span class="label label-success current-global-map">BC_UE_CL</span></td>
                <td>Chloride</td>
                <td>Serum</td>
                <td>Result</td>
                <td><span class="glyphicon glyphicon-option-horizontal"></span></td>
            </tr>

            <tr class="global-drop">
                <td class="worksection">eB</td>
                <td class="tfc">CREA</td>
                <td class="tfc-description">Creatinine</td>
                <td>98</td>
                <td>umol/l</td>
                <td>14356</td>
                <td>Creatinine</td>
                <td class="global-code"></td>
                <td></td>
                <td></td>
                <td></td>
                <td><span class="glyphicon glyphicon-option-horizontal"></span></td>
            </tr>
                    


            </tbody>
        </table>
        </div>
    </div>
    <div class="panel-footer">
        Table - 6 rows
    </div>
</div>


<!--Global code search-->
<div class="hpanel">
    <div class="panel-heading">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
            <a class="closebox"><i class="fa fa-times"></i></a>
        </div>
        Global Codes
    </div>
    <div class="panel-body">
        <table id="global_code_datatable" class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>Global</th>
            <th>Global Description</th>
            <th>Sample</th>
            <th>Type</th>
            <th>Analyte</th>
            <th>Primary Library</th>
            <th>Sub section</th>
            <th>Department</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td><span class="label label-success global-drag">BC_UE_K</span></td>
            <td>Sodium</td>
            <td>Serum</td>
            <td>Result</td>
            <td>Sodium</td>
            <td>Urea & Electrolyte</td>
            <td>C-module</td>
            <td>Chemistry</td>
        </tr>
        <tr>
            <td><span class="global-drag"><span class="label label-success">BC_UE_K</span></span></td>
            <td>Potassium</td>
            <td>Serum</td>
            <td>Result</td>
            <td>Potassium</td>
            <td>Urea & Electrolyte</td>
            <td>C-module</td>
            <td>Chemistry</td>
        </tr>
        <tr>
            <td><span class="global-drag"><span class="label label-success">BC_UE_K</span></span></td>
            <td>Chloride</td>
            <td>Serum</td>
            <td>Result</td>
            <td>Chloride</td>
            <td>Urea & Electrolyte</td>
            <td>C-module</td>
            <td>Chemistry</td>
        </tr>

               
        </tbody>
        </table>
    </div>
</div>
   
</div><!-- Main Panel Closing tag -->

{% endblock %}

{% block scripts %}
<script src="static/scripts/editor.js"></script>
{% endblock %}