{% extends "layout.html" %}

{% block customstyle %}
<link rel="stylesheet" media="screen" href="static/vendor/handsontable/dist/handsontable.full.css">
<style>
    #spreadsheet {
        width: 100%;
        height: 500px;
        overflow: hidden;
    }

    /*.handsontable col.rowHeader {
    width: 120px;
    text-align:left;
    }*/

    .filter-list {
        list-style-type: none;
        list-style:none;
        padding-left:0px;
        margin-left: 0px;
    }

</style>
{% endblock %}

{% block content %}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <i class="pe-7s-keypad pe-4x pull-right"></i>
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>

            <h2 class="font-light m-b-xs">
                Global Codes <span class="text-success">Spreadsheet</span>
            </h2>
            <small>Client editor for global codes for all systems. Click a global code below to see the details.</small>
        </div>
    </div>
</div>


<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                    <a class="closebox"><i class="fa fa-times"></i></a>
                </div>
            </a>

            <div class="col-lg-1">
                <i class="fa fa-exclamation-triangle fa-5x text-danger"></i>
            </div>

            <div class="col-lg-11">
                <h2 class="font-light m-b-xs">
                    Warning!
                </h2>
                <small>
                    This module is still in development. Do not delete rows or columns as it will mess with the data model.<br />
                    Also, only freeze the first column (global codes).
                    Anything else will cause an error when you try to make changes as the position of the global codes column will have changed.
                </small>
            </div>
        </div>
    </div>
</div>




<!--<div id="global_code_editor_main" class="content animate-panel" data-effect="fadeIn">-->
<div id="global_code_editor_main" class="content animate-panel">

<!--Filtering panel-->
<div class="row">
    <div class="col-lg-9 col-md-9">
        <div class="hpanel">
            <div class="panel-heading">
                <div class="panel-tools"><a class="showhide"><i class="fa fa-chevron-up"></i></a></div>
                Filters
            </div>
            <div class="panel-body">
                
                <div class="row">
                    <ul id="filter-list-ul" class="filter-list">

                    </ul>
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <button id="global_spreadsheet_refresh" class="btn btn-success">Refresh</button>
                    </div>
                    <div class="col-lg-8"></div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3">

    </div>
</div>

<!--Global code spreadsheet-->
<div id="global_code_table" class="hpanel">
    <div class="panel-heading">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        Global Codes
    </div>
    <div class="panel-body">
        <!--<div><button id="do_something" class="btn btn-success">Do something</button></div>
        <br />-->
        <div id="spreadsheet"></div>
    </div>
</div>


</div><!-- Main Panel Closing tag -->


{% endblock %}

{% block scripts %}
<script src="static/scripts/spreadsheet.js"></script>
<script src="static/vendor/handsontable/dist/handsontable.full.js"></script>
{% endblock %}